a{
    text-decoration: none;
    color: black;
}
#main{
    display: flex;
}
#colone-left{
    height: 95vh;
    width: 20%;
    background-color: rgb(255,193,7);
    display: inline-block;

}
#colone-right{
    display: flex;
    flex-direction: column;
}
ul,li{
 list-style: none;
}
.liens{
    text-decoration: none;
    font-size: 20px;
    color: red;
    padding-top: 100px;
}
.formulaire{
    padding: 15px;
}
.lab{
    margin: 10px;
    display: flex;
    justify-content: end;
}
.inp{
    display: flex;
    justify-content: end;
}
.val-btn{
    width: 190px;
    background: rgb(255,193,7);
    color: black;
    height: 40px;
    border: none;
}

/* modife pour la page add product bdd*/