a{
    text-decoration: none;
    color: black;
}
#main{
    display: flex;
}
#colone-left{
    height: 95vh;
    width: 20%;
    background-color: rgb(255,193,7);
    display: inline-block;

}
#colone-right{
    display: flex;
    flex-direction: column;
}
ul,li{
 list-style: none;
}
.liens{
    text-decoration: none;
    font-size: 20px;
    color: red;
    padding-top: 100px;
}

/* modife pour la page add product bdd*/