a{
    text-decoration: none;
    color: black;
}
#main{
    display: flex;
    height: 86vh;
    width: 100%;
}
#colone-left{
    height: auto;
    width: 20%;
    background-color: rgb(255,193,7);
}
#colone-right{
   background: url(../assets/admin-pic/connexion_bg.jpg);
   background-position: center;
   width: 100%;
   height: auto;
}
.liens{
    text-decoration: none;
    font-size: 20px;
    margin-top: 50px;
}
.image{
    height: 100px;
    width: 200px;
    cursor: pointer;
}

/*  css de base pour la presentation de chaque page*/

.contenu{
    height: 100%;
    color: rgb(255,193,7);
    display: flex;
    justify-content: center;
    align-items: center;
}