a{
    text-decoration: none;
    color: black;
}
#main{
    background-color: #b0c2d0;
    display: flex;
    height: 86vh;
    width: 100%;
}
#colone-left{
    height: auto;
    width: 20%;
    background-color: rgb(255,193,7);
}
#colone-right{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin-right: 20px;
}
.liens{
    text-decoration: none;
    font-size: 20px;
    margin-top: 50px;
}
.image{
    height: 100px;
    width: 200px;
}
/*  css de base pour la presentation de chaque page*/

/*  partie formulaire de mofification*/
.formulaire{
    padding: 15px;
    margin: 0 100px;
}
.lab{
    margin: 10px;
    display: flex;
    justify-content: end;
}
.inp{
    display: flex;
    justify-content: end;
}
.val-btn{
    width: 190px;
    background: rgb(255,193,7);
    color: black;
    height: 40px;
    border: none;
}
/*  fin partie formulaire de mofification*/

/* affichage des donne du produit  mofifier */

#productbdd{
    margin-top: 25px;
    height: 357px;
    width: 220px;
    border: solid 2px black;
    padding: 15px;
}
.itembdd{
    margin-top: 25px;
}
.imagebdd{
    height: 50px;
    width: 50px;
}