a{
    text-decoration: none;
    color: black;
}
#main{
    display: flex;
}
#colone-left{
    height: auto;
    width: 50%;
    background-color: rgb(255,193,7);
    display: inline-block;

}
#colone-right{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    border: solid 1px purple;
}
ul,li{
 list-style: none;
}
.liens{
    text-decoration: none;
    font-size: 20px;
    color: red;
    padding-top: 100px;
}
.displaybdd{
    color: red;
    border: solid 3px black;
    padding: 5px;
    border-radius: 3px;
    margin: 15px;
    width: 300px;
}